<h1><%= @recipe.name %></h1>

Created by: <%= @recipe.user.username %>

<h2>Description</h2>
<p>
  <%= @recipe.description %>
</p><br>

<p>
  Prep Time: <%= @recipe.prep_time %> min
</p>

<p>
  Difficulty Rating: <%= @recipe.difficulty_level %>
</p><br>

<h2>Directions</h2>
<p>
  <%= @recipe.instructions %>
</p>



<%= link_to 'Edit', edit_category_recipe_path(@category, @recipe) %>
<%= link_to 'Delete', category_recipe_path, method: :delete, data: { confirm: 'WHYYYY' } %>


