<h1>Sign Up!</h1>

<%=  form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  Confirm Password: <%= f.password_field :password_confirmation %>
<% end %>
